repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Kept: Checks not covered by Ruff
      - id: check-json
      - id: check-yaml
        args: ['--unsafe']
      - id: check-symlinks
      - id: check-merge-conflict
      - id: requirements-txt-fixer
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff Linter
        args: [--fix, --diff]
      - id: ruff-format
        name: Ruff Formatter
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [types-PyYAML]
